@font-face {
    font-family: 'Learning Curve';
    src: url('../fonts/LearningCurve-Bold.eot');
    src: url('../fonts/LearningCurve-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LearningCurve-Bold.woff2') format('woff2'),
        url('../fonts/LearningCurve-Bold.woff') format('woff'),
        url('../fonts/LearningCurve-Bold.ttf') format('truetype'),
        url('../fonts/LearningCurve-Bold.svg#LearningCurve-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Regular.eot');
    src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
        url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}