/* header starts */
header {
    max-width: 1280px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.logo {
    font-size: 70px;
    font-weight: bold;
    margin-left: 44px;
    width: 374px;
    height: 94px;
    color: #36413E;
}
.nav-bar {
    width: 524px;
    height: 24px;
    margin-left: 74px;
}
.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a {
    font-family: 'Brandon Grotesque';
    font-size: 18px;
    color: #7F7F7F;
}
.icon {
    width: 127px;
    height: 16px;
    display: flex;
    align-items: center;
    margin-left: 71px;
    justify-content: space-between;
}
/* header ends */
.img-box {
    display: flex;
    position: relative;
    background-image: url(../image/banner.png);
    width: 100%;
    height: 938px;
    align-items: flex-end;
    padding-bottom: 10%;  
}
.img-box div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 706px;
    height: 187px;
    margin-left: 287px;
    margin-top: 539px;
    position: absolute;
}
.img-box p {
    font-family: Kazimir;
    font-size: 40px;
    justify-content: center;
    width: 108px;
    height: 53px;
}
/* 1st section ends */
.green-box {
    background-color: #306B34;
    width: 100%;
    height: 779px;
    display: flex;
    align-items: center;
}
.green-box div {
    width: 679px;
    height: 453px;
    margin-left: 138px;  
}
.text {
    width: 306px;
    height: 394px;
    margin-right: 114px; 
}
.text h1 {
    width: 252px;
    height: 53px;
    font-family: 'Brandon Grotesque';
    font-size: 30px;  
}
.text p {
    width: 306px;
    height: 291px;
    font-size: 19px;
    font-family: 'Kazimir';
    color: #F4F4F1;
    font-style: italic;
    margin-top: 50px;
    line-height: 30px;
}
/* 2nd section ends */
.white-box {
    background-color: #FFFFFF;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    width: 273px;
    height: 98px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
}
.title h1 {
    font-family: 'Kazimir';
    font-size: 30px;
    font-style: italic;
    color: #36413E;
    font-weight: normal;
}
.text-box {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    width: 696px;
    height: 247px;
    flex-direction: column;
    align-items: center;
    
}
.text-box p {
    font-family: 'Kazimir';
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    color: #7F7F7F;
}
p:nth-child(2) {
    margin-top: 30px;
}
.blog {
    width: 148px;
    height: 48px;
    display: flex;
    background-color: #36413E;
    margin-top: 25px;
    justify-content: center;
}
.blog a {
    font-size: 12px;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
/* 3rd section ends */
/* footer starts */
.footer {
    background-color: #306B34;
    height: 76px;
    width: 100%;
    display: flex;
    align-items: center;   
}
.footer div {
    display: flex;
    margin-left: 31px;
}
.footer a {
    font-family: 'Brandon Grotesque';
    font-size: 12px;
    font-weight: bold;
    color: #F4F4F1;
    display: flex;
    align-items: center;
}
.nav-footer {
    width: 275px;
    height: 15px;
    margin-left: 503px;   
}
.nav-footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer a {
    font-family: 'Brandon Grotesque';
    font-size: 10px;
    color: #FFFFFF;
    font-weight: normal;
}

